@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
h1{
    color: red;
}
.width200{
    width: 200px;
    height: 200px;
}
.background{
    background-color: burlywood;
    width: 200px;
    height: 200px;
}.background_image{
    background-image: url("/image/firefox.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.border{
    /* solid dotted dashed */
    border: 10px dashed red;
    border-bottom: 10px solid blue;
    border-left: 10px dotted green;
}
.margin{
    /* top rigth buttom left*/
    margin: 50px 100px 30px 100px;
    background-color: aqua;
    margin-left: 200px;
    margin-top: 100px;
}
.padding{
    background-color: bisque;
    padding-left: 50px;
    padding-top: 100px;
    padding: 50px 30px 20px 10px;
}
.width_height{
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    width: 50%;
    width: 30vw;
    width: 200pt;
    width: 15cm;
    max-width: 200px;
    width: 1000px;
    max-height: 200px;
    height: 100vh;
}
.mixed_width{
    width: 200px;
    height: 200px;
    padding: 30px;
    /* margin: 50; */
    border: 10px solid red;
}
.outline{
    outline: 15px double green;
    outline-offset: 15px;
    border: 10px solid pink;
    /* margin: 30px; */
}
.text{
    margin: 100px;
}
.text p{
    text-align: center;
    /* text-align: justify; */
}
.text .left{
text-align: left;
text-decoration: underline;
text-decoration: overline;
text-decoration: line-through;
text-decoration-color: red;
}
.text .right{
    text-align: right;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}
.indent{
    text-indent: 50px;
    letter-spacing: 3px;
    /* letter-spacing: -1px; */
    font-size: 20px;
    line-height: 30px;
    word-spacing: 2px;
    text-shadow: 3px 2px 3px red;
}
.font {
    margin: 50px;
    font-size: 20px;
}
.font p:first-child{
    font-family: arial;
}
.font p:nth-child(2){
    font-family: "Mitr";
    font-weight: normal;
    font-size: 0.8em;
}
.font p:nth-child(3){
    font-family: "Mitr";
    font-weight: normal;
    font-size: 1em;
    font-style: oblique;
}
.icon i:first-child{
    margin: 20px;
    color: red;
    font-size: 30px;
}
.link a:link{
    color: blue;
}
.link a:visited{
    color: red;
}
.link a:active{
    color: greenyellow;
}
.link a:hover{
    color: orange;
    background-color: black;
}
.list ul{
    list-style-type: disc;
    background: rebeccapurple;
}
.list ul li{
    list-style-position: outside;
    background-color: #df3434;
    margin: 5px;
    margin-left: 20px;
}
.display p:first-child{
    display: none;
}
.display p:nth-child(2){
    display: block;
}
.display p:nth-child(3){
    display: inline;
}
.display p:nth-child(4){
    display: inline-block;
}
.display p:nth-child(7){
    display: inline;
}

